<div class=" section section-item combine-section hide-overlay overflow semi-dark-background" id="services-section">
            
    <div class="inner-container services-section ">
         <div class="container">
            <div class="row">


                <!-- Start: Section Heading -->
                <div class="section-header col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="overflow">
                        <div class="line-outer">
                            <div class="line wow"></div>
                        </div>
                    </div>
                    <div class="overflow">
                        <div class="section-heading-outer m-b-15">
                            <p class="sub-heading wow">OUR SERVICES</p>
                        </div> 
                    </div>
                    <div class="overflow">
                        <div class="section-heading-outer p-l-50 p-r-50">
                            <h2 class="section-heading wow">Our team will take your business presence to new level</h2>
                        </div>
                    </div>
                </div>
                <!-- End: Section Heading -->

                <div class="clearfix"></div>
                
                <!-- Start: Each Services Section -->
                <div class="each-services-outer overflow section-separator sp-bottom">

                    <div class="each-services col-sm-4 col-xs-12">
                        <div class="each-services-inner">
                            
                            <div class="overflow">
                                <div class="features-icon-outer wow">
                                    <i class="icon icon-icon-documents-alt features-icon"></i>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="title-outer wow">
                                    <h4 class="title">Strategy.</h4>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="pera-outer wow">
                                    <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.</p>
                                </div>
                            </div>
                            <div class="overflow m-t-30">
                                <div class="btn-form-outer wow">  <!-- Button Area -->
                                    <a href="#services-1" class="btn right-icon btn-services btn-mask">LEARN MORE <i class="icon icon-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div> <!-- End: .each-services -->

                    <div class="each-services col-sm-4 col-xs-12">
                        <div class="each-services-inner">
                            
                            <div class="overflow">
                                <div class="features-icon-outer wow">
                                    <i class="icon icon-icon-pencil-edit-alt features-icon"></i>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="title-outer wow">
                                    <h4 class="title">Branding.</h4>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="pera-outer wow">
                                    <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.</p>
                                </div>
                            </div>
                            <div class="overflow m-t-30">
                                <div class="btn-form-outer wow">  <!-- Button Area -->
                                    <a href="#services-2" class="btn right-icon btn-services btn-mask">LEARN MORE <i class="icon icon-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div> <!-- End: .each-services -->

                    <div class="each-services col-sm-4 col-xs-12">
                        <div class="each-services-inner">

                            <div class="overflow">
                                <div class="features-icon-outer wow">
                                    <i class="icon icon-icon-pens features-icon"></i>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="title-outer wow">
                                    <h4 class="title">Design.</h4>
                                </div>
                            </div>
                            <div class="overflow">
                                <div class="pera-outer wow">
                                    <p>Ship it user story iterate engaging co-working intuitive pitch deck hacker prototype SpaceTeam user centered design big data.</p>
                                </div>
                            </div>
                            <div class="overflow m-t-30">
                                <div class="btn-form-outer wow">  <!-- Button Area -->
                                    <a href="#services-3" class="btn right-icon btn-services btn-mask">LEARN MORE <i class="icon icon-arrow-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div> <!-- End: .each-services -->

                </div> 
                <!-- End: Each Services Section -->
                

                <!-- Start: Each Services Part Full Detail -->
                <div class="services-full-view">
                    
                    <div class="services-details" id="services-1">
                        <div class="services-inner relative overflow">

                            <!-- Features Image -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="features-image-outer">
                                    <div class="image-outer">
                                        <img src="../../assets/images/services-1.jpg" alt="Services Image" class="img-responsive">
                                    </div>
                                </div>
                            </div> <!-- End: Features Image Area -->

                            <!-- Content Area -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="services-content-outer">

                                    <div class="line-outer">
                                        <div class="line"></div>
                                    </div>

                                    <div class="section-title-outer overflow">
                                        <h3 class="section-title">Strategy.</h3>
                                    </div>

                                    <div class="overflow m-b-15">
                                        <div class="title-outer">
                                            <h6 class="title relative">PERFECT STARATEGY FORYOUR BRAND</h6>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">
                                            <p>Chances are unless you are very lucky you will go thru many different relationships before you find your special someone. Finding your sole mate is like gambling. In poker and blackjack you may have to play dozens of hands until you get a winning hand, and it is the same with relationships.</p>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">

                                            <p>During your life you will probably meet some people who seem like they may be the one, or that they are closers, and I thought everything was great, until I started to seriously consider getting married.</p>
                                        </div>
                                    </div>

                                    <div class="overflow m-t-15">
                                        <div class="list-outer">
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-ribbon"></i> Award-winning Strategist
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-search-alt"></i> Extended Research
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-document"></i> Bullet-prof Planning
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-like-alt"></i> Trusted by Thousands
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="btn-outer m-t-50">
                                            <a href="#8" class="btn btn-fill right-icon">GET IN TOUCH <i class="icon icon-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div> <!-- End: .services-content-outer -->
                            </div> <!-- End: Content Area -->
                            
                            <!-- Button Area -->
                            <div class="back-button-outer overflow">  
                                <a href="#" class="btn btn-services-back btn-mask"><i class="icon icon-arrow-carrot-left-alt2"></i></a>
                            </div>

                        </div> <!-- End: .services-inner -->
                    </div> <!-- End: .services-details -->

                    <div class="services-details" id="services-2">
                        <div class="services-inner relative overflow">

                            <!-- Features Image -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="features-image-outer">
                                    <div class="image-outer">
                                        <img src="../../assets/images/services-1.jpg" alt="Services Image" class="img-responsive">
                                    </div>
                                </div>
                            </div> <!-- End: Features Image Area -->

                            <!-- Content Area -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="services-content-outer">

                                    <div class="line-outer">
                                        <div class="line"></div>
                                    </div>

                                    <div class="section-title-outer overflow">
                                        <h3 class="section-title">Strategy.</h3>
                                    </div>

                                    <div class="overflow m-b-15">
                                        <div class="title-outer">
                                            <h6 class="title relative">PERFECT STARATEGY FORYOUR BRAND</h6>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">
                                            <p>Chances are unless you are very lucky you will go thru many different relationships before you find your special someone. Finding your sole mate is like gambling. In poker and blackjack you may have to play dozens of hands until you get a winning hand, and it is the same with relationships.</p>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">

                                            <p>During your life you will probably meet some people who seem like they may be the one, or that they are closers, and I thought everything was great, until I started to seriously consider getting married.</p>
                                        </div>
                                    </div>

                                    <div class="overflow m-t-15">
                                        <div class="list-outer">
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-ribbon"></i> Award-winning Strategist
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-search-alt"></i> Extended Research
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-document"></i> Bullet-prof Planning
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-like-alt"></i> Trusted by Thousands
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="btn-outer m-t-50">
                                            <a href="#8" class="btn btn-fill right-icon">GET IN TOUCH <i class="icon icon-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div> <!-- End: .services-content-outer -->
                            </div> <!-- End: Content Area -->
                            
                            <!-- Button Area -->
                            <div class="back-button-outer overflow">  
                                <a href="#" class="btn btn-services-back btn-mask"><i class="icon icon-arrow-carrot-left-alt2"></i></a>
                            </div>

                        </div> <!-- End: .services-inner -->
                    </div> <!-- End: .services-details -->

                    <div class="services-details" id="services-3">
                        <div class="services-inner relative overflow">

                            <!-- Features Image -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="features-image-outer">
                                    <div class="image-outer">
                                        <img src="../../assets/images/services-1.jpg" alt="Services Image" class="img-responsive">
                                    </div>
                                </div>
                            </div> <!-- End: Features Image Area -->

                            <!-- Content Area -->
                            <div class="col-sm-6 col-xs-12">
                                <div class="services-content-outer">

                                    <div class="line-outer">
                                        <div class="line"></div>
                                    </div>

                                    <div class="section-title-outer overflow">
                                        <h3 class="section-title">Strategy.</h3>
                                    </div>

                                    <div class="overflow m-b-15">
                                        <div class="title-outer">
                                            <h6 class="title relative">PERFECT STARATEGY FORYOUR BRAND</h6>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">
                                            <p>Chances are unless you are very lucky you will go thru many different relationships before you find your special someone. Finding your sole mate is like gambling. In poker and blackjack you may have to play dozens of hands until you get a winning hand, and it is the same with relationships.</p>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="pera-outer">

                                            <p>During your life you will probably meet some people who seem like they may be the one, or that they are closers, and I thought everything was great, until I started to seriously consider getting married.</p>
                                        </div>
                                    </div>

                                    <div class="overflow m-t-15">
                                        <div class="list-outer">
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-ribbon"></i> Award-winning Strategist
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-search-alt"></i> Extended Research
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-document"></i> Bullet-prof Planning
                                                </div>
                                            </div>
                                            <div class="list col-sm-6">
                                                <div class="row">
                                                    <i class="icon icon-icon-like-alt"></i> Trusted by Thousands
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="overflow">
                                        <div class="btn-outer m-t-50">
                                            <a href="#8" class="btn btn-fill right-icon">GET IN TOUCH <i class="icon icon-arrow-right"></i></a>
                                        </div>
                                    </div>

                                </div> <!-- End: .services-content-outer -->
                            </div> <!-- End: Content Area -->
                            
                            <!-- Button Area -->
                            <div class="back-button-outer overflow">  
                                <a href="#" class="btn btn-services-back btn-mask"><i class="icon icon-arrow-carrot-left-alt2"></i></a>
                            </div>

                        </div> <!-- End: .services-inner -->
                    </div> <!-- End: .services-details -->

                </div>
                <!-- End: Each Services Part Full Detail -->

            </div> <!-- End: .row -->
        </div> <!-- End: .container -->
    </div> <!-- End: . -->

</div>