<div class=" section section-item combine-section hide-overlay overflow wow" id="contact-us-section">
    <div class="overlay-color relative bg-image-2">

        <div class="inner-container contact-us" id="contact">
            <div class="container">
                <div class="row">
                    
                    <!-- Start: Section Heading -->
                    <div class="section-header col-sm-10 col-sm-offset-1">
                        <div class="overflow">
                            <div class="line-outer">
                                <div class="line wow"></div>
                            </div>
                        </div>
                        <div class="overflow">
                            <div class="section-heading-outer m-b-15">
                                <p class="sub-heading wow">CONTACT US</p>
                            </div> 
                        </div>
                        <div class="overflow">
                            <div class="section-heading-outer p-l-50 p-r-50">
                                <h2 class="section-heading wow">Let's talk about the project</h2>
                            </div>
                        </div>
                    </div>
                    <!-- End: Section Heading -->

                    <div class="clearfix"></div>

                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 overflow">
                        <div class="row single-form-outer wow">
                            
                            <form id="contact-form" method="post" class="dark-background single-form" action="php/sendmail.php">

                                <div class="message col-xs-12">
                                    <p class="email-loading"><img src="../../assets/images/loading.gif" alt="">&nbsp;&nbsp;&nbsp;Sending...</p>
                                    <p class="email-success"><i class="icon icon-icon-check-alt2"></i> Your quote has successfully been sent.</p>
                                    <p class="email-failed"><i class="icon icon-icon-close-alt2"></i> Something went wrong!</p>
                                </div>

                                
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-outer">
                                        <div class="group relative">
                                            <input name="name" class="contact-name form-control" id="contact-name" type="text"  required="">
                                            <label class="input-label" for="contact-name">
                                                <span class="label-text">YOUR NAME</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-outer ">
                                        <div class="group relative">
                                            <input name="name" class="contact-email form-control" id="contact-email" type="email"  required="">
                                            <label class="input-label" for="contact-email">
                                                <span class="label-text">YOUR EMAIL</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-outer ">
                                        <div class="group relative">
                                            <input name="name" class="contact-company form-control" id="contact-company" type="text"  required="">
                                            <label class="input-label" for="contact-company">
                                                <span class="label-text">COMPANY</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-outer ">
                                        <div class="group relative">
                                            <input name="name" class="contact-subject form-control" id="contact-subject" type="text"  required="">
                                            <label class="input-label" for="contact-subject">
                                                <span class="label-text">SUBJECT</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="input-outer ">
                                        <div class="group relative">
                                            <textarea class="contact-message form-control" id="contact-message" rows="3" required=""></textarea>
                                            <label class="input-label" for="contact-message">
                                                <span class="label-text">YOUR MESSAGE</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Subject Button -->
                                <div class="btn-form text-center col-xs-12">
                                    <div class="button-outer relative">
                                        <button class="btn btn-fill right-icon">GET IN TOUCH <i class="icon icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div> <!-- /#testimonials-1 -->
                    </div> <!-- End: .col-xs-12 -->

                    <div class="clearfix"></div>

                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 contact-footer">
                        <div class="row">
                            
                            <div class="about col-sm-1 m-t-15">

                                <div class="overflow">
                                    <div class="logo-outer wow">
                                        <a href="index.html" class="logo-link">
                                            <img src="../../assets/images/logo.png" alt="" class="img-responsive logo">
                                        </a>
                                    </div>
                                </div>

                            </div> <!-- End: .about -->
                            <div class="other-link col-sm-11">
                                <div class="row">
                                    
                                    <div class="each-section col-sm-4 col-xs-12">
                                        <div class="each-section-inner">
                                            
                                            <div class="overflow">
                                                <p class="title wow">California office</p>
                                            </div>
                                            <ul class="nav">
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        4243 Woodland Terrace
                                                    </div>
                                                </li>
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        Sacramento, CA 95814
                                                    </div>
                                                </li>
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        <a href="callto:9167532645" class="btn-mask">916 753 2645</a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div> <!-- End: .each-section -->
                                    <div class="each-section col-sm-4 col-xs-12">
                                        <div class="each-section-inner">
                                            
                                            <div class="overflow">
                                                <p class="title wow">new york office</p>
                                            </div>
                                            <ul class="nav">
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        885 Oakwood Avenue
                                                    </div>
                                                </li>
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        New York, NY 10013
                                                    </div>
                                                </li>
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        <a href="callto:2126600744" class="btn-mask">212 660 0744</a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div> <!-- End: .each-section -->
                                    <div class="each-section col-sm-4 col-xs-12">
                                        <div class="each-section-inner">
                                            
                                            <div class="overflow">
                                                <p class="title wow">Other Contact</p>
                                            </div>
                                            <ul class="nav">
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        <a href="mailto:jobs@templateocean.com" class="btn-mask">jobs@templateocean.com</a>
                                                    </div>
                                                </li>
                                                <li class="overflow">
                                                    <div class="li-inner wow">
                                                        <ul class="nav social-icon">
                                                            <li><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                                                            <li><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                                                            <li><a href="#"><i class="icon icon-social-pinterest"></i></a></li>
                                                            <li><a href="#"><i class="icon icon-social-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        
                                        </div>
                                    </div> <!-- End: .each-section -->

                                </div>
                            </div> <!-- End: .other-link -->

                        </div> <!-- End: .row -->
                    </div> <!-- End: .contact-footer -->

                </div> <!-- End: .row -->
            </div> <!-- End: .container -->
        </div> <!-- End: .inner-container -->
        
    </div>

</div>