<div class=" section section-item combine-section hide-overlay semi-dark-background" id="testimonial-section">
    <div class="inner-container testimonial-section semi-dark-background" id="testimonial">
         <div class="container">
            <div class="row section-separator sp-bottom">
                
                <!-- Start: Section Heading -->
                <div class="section-header col-sm-10 col-sm-offset-1">
                    <div class="overflow">
                        <div class="line-outer">
                            <div class="line wow"></div>
                        </div>
                    </div>
                    <div class="overflow">
                        <div class="section-heading-outer m-b-15">
                            <p class="sub-heading wow">Testimonials</p>
                        </div> 
                    </div>
                    <div class="overflow">
                        <div class="section-heading-outer p-l-50 p-r-50">
                            <h2 class="section-heading wow">We have worked with some amazing companies around the world</h2>
                        </div>
                    </div>
                </div>
                <!-- End: Section Heading -->

                <div class="clearfix"></div>

                <div class="col-xs-12 m-t-30">
                    <div class="overflow text-center">
                        
                        <!-- OUR CLIENTS LOGO -->
                        <ul class="nav client-logo wow">
                            <li><img src="../../assets/images/clients-logo/1.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/2.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/3.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/4.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/5.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/6.png" alt=""></li>
                            <li><img src="../../assets/images/clients-logo/7.png" alt=""></li>
                        </ul>

                    </div> <!-- End: .overflow -->
                </div> <!-- End: .col-xs-12 -->

                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 overflow">
                    <div class="testimonial-container wow">
                        <div class="testimonial-wrapper pagination-style-1 owl-carousel">

                            <!-- SLIDES -->
                            <div class="item">

                                <div class="overflow">
                                    <div class="image-outer">
                                        <img src="../../assets/images/testimonial/1.jpg">
                                    </div>
                                </div>
                                <div class="overflow m-t-40">
                                    <div class="text-outer">
                                        <blockquote>“These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”</blockquote>
                                    </div>
                                </div>
                                <div class="overflow m-t-40 m-b-30">
                                    <div class="profile-outer">
                                        <span class="name">ANTHONY WATKINS</span>
                                        <span class="position">VP of Product, VISA</span>
                                    </div>
                                </div>

                            </div> <!-- End: .swiper-slider -->
                            <div class="item">

                                <div class="overflow">
                                    <div class="image-outer">
                                        <img src="../../assets/images/testimonial/2.jpg">
                                    </div>
                                </div>
                                <div class="overflow m-t-40">
                                    <div class="text-outer">
                                        <blockquote>“These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”</blockquote>
                                    </div>
                                </div>
                                <div class="overflow m-t-40 m-b-30">
                                    <div class="profile-outer">
                                        <span class="name">ANTHONY WATKINS</span>
                                        <span class="position">VP of Product, VISA</span>
                                    </div>
                                </div>

                            </div> <!-- End: .swiper-slider -->
                            <div class="item">

                                <div class="overflow">
                                    <div class="image-outer">
                                        <img src="../../assets/images/testimonial/2.jpg">
                                    </div>
                                </div>
                                <div class="overflow m-t-40">
                                    <div class="text-outer">
                                        <blockquote>“These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry”</blockquote>
                                    </div>
                                </div>
                                <div class="overflow m-t-40 m-b-30">
                                    <div class="profile-outer">
                                        <span class="name">ANTHONY WATKINS</span>
                                        <span class="position">VP of Product, VISA</span>
                                    </div>
                                </div>

                            </div> <!-- End: .swiper-slider -->

                        </div> <!-- End: .swiper-wrapper -->
                    </div> <!-- End: .testimonials-container -->
                </div> <!-- End: .col-xs-12 -->

            </div> <!-- End: .row -->
        </div> <!-- End: .container -->
    </div> <!-- End: .inner-container -->

</div>