<div class=" section section-item combine-section hide-overlay overflow dark-background" id="team-section">
  <div class="inner-container team-member dark-background">
    <div class="container">
      <div class="row section-separator sp-bottom">

        <!-- Start: Section Heading -->
        <div class="section-header col-sm-10 col-sm-offset-1">
          <div class="overflow">
            <div class="line-outer">
              <div class="line wow"></div>
            </div>
          </div>
          <div class="overflow">
            <div class="section-heading-outer m-b-15">
              <p class="sub-heading wow">OUR TEAM</p>
            </div>
          </div>
          <div class="overflow">
            <div class="section-heading-outer p-l-50 p-r-50">
              <h2 class="section-heading wow">Our Amazing Team</h2>
            </div>
          </div>
        </div>
        <!-- End: Section Heading -->

        <div class="clearfix"></div>

        <div class="col-sm-12 grid-item m-t-30">
          <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/2.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/3.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/1.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/4.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/5.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/6.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder &amp; CEO of Fusion. He is leading the company to success with his experience &amp;
                    skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/7.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder [&amp;] CEO of Fusion. He is leading the company to success with his experience
                    [&amp;] skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->
            <div class="col-md-3 col-sm-6 col-xs-12 each-item overflow text-center relative wow">
              <div class="item-inner overflow absolute">

                <div class="profile-outer center">
                  <div class="profile-image">
                    <img src="../../assets/images/testimonial/8.jpg" alt="Team Member" class="">
                  </div>
                  <div class="profile-content">
                    <span class="name">ANTHONY WATKINS</span>
                    <span class="position">VP of Product, VISA</span>
                  </div>
                </div>
                <div class="content-detail">
                  <p>Vincent is the Founder [&amp;] CEO of Fusion. He is leading the company to success with his experience
                    &amp; skill. Leader piverate paradigm cortado ship it integrate Space Team parallax persons grok. Parallax
                    food truck fund 360 campaign venture capital pitch deck actionable insight innovate.</p>
                </div>

              </div>
            </div>
            <!-- End: .each-item -->


          </div>
        </div>
        <!-- End: .col-xs-12 -->

      </div>
      <!-- End: .row -->
    </div>
    <!-- End: .container -->
  </div>
  <!-- End: .inner-container -->

</div>