<div class="section section-item home-section overflow hide-overlay overlay-color bg-image-1 wow" id="home-section">
    <div class="inner-container ">
        <div class="container">
            <div class="row">
                
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                    <div class="home-content-outer text-center">
                        
                        <div class="overflow">
                            <div class="heading-outer left-right relative">
                                <div class="heading-outer top-bottom relative">
                                    <div class="overflow p-t-40 p-l-40 p-r-40 p-b-40">
                                        <div class="section-heading-outer">
                                            <h1 class="heading">We're <span class="color">Fusion</span>, We Build Things for Human</h1>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="overflow m-t-30">
                            <div class="list-view">
                                <ul class="nav">
                                    <li><a class="btn-mask" href="#">DESIGN</a></li>
                                    <li><a class="btn-mask" href="#">STRATEGY</a></li>
                                    <li><a class="btn-mask" href="#">BRANDING</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- Next Section Arrow -->
                <div class="footer-button">
                    <div class="overflow m-t-30">
                        <div class="btn-form-outer btn-scroll">  <!-- Button Area -->
                            <a href="#services-section" class="btn"><i class="icon icon-arrow-carrot-down"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Home Page Buttom Navigation -->
                <nav class="navbar navbar-fixed-top main-navbar-top home-nav overflow">
                    <div class="container relative home-nav-inner">
                        <div class="navbar-header">

                            <!-- TEMPLATE LOGO LIGHT -->
                            <a class="navbar-brand light-logo" href="#"><img src="../../assets/images/logo.png" alt="" class="img-responsive"></a>

                        </div>

                        <div class="navbar-collapse-right" >
                            <ul class="nav navbar-nav navbar-right btn-scroll">
                                <li>
                                    <a class="btn-nav btn-mask" href="#contact-us-section">Get in Teach <i class="icon icon-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
                <!-- End: Home Page Buttom Navigation -->

            </div>
        </div>
    </div>
</div> 